$border-radius: 0.5rem;
$clr-error: hsl(0, 68%, 56%);

:root {
  --equation-background: hsl(207, 71%, 93%);
  --success-background: hsl(106, 58%, 87%);
  --success-color: hsl(106, 73%, 59%);
}

#equation-history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

math-field {
  background-color: var(--clr-background);
  padding: 0.5em 1em;
  margin: 1em 0 0;

  &::part(virtual-keyboard-toggle) {
    margin-left: 1.5em;
  }
}

.equation-node {
  position: relative;
}

.equation-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1.5em;

  background-color: var(--equation-background);
  border-radius: $border-radius;

  transition: all 0.2s;
}

.end-node {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  min-width: 7rem;
  padding: 1rem;
  margin-top: -0.1rem;
  border-radius: 50%;
  aspect-ratio: 1;

  font-size: 3rem;

  background-color: var(--success-background);
  color: var(--success-color);
  isolation: isolate;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    aspect-ratio: 1;
    z-index: -1;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='8.5' x2='9.5' y1='5.0' y2='5.0' stroke='%23d4f1cb' stroke-width='0.2' stroke-linecap='round'/%3E%3Cline x1='7.474873734152917' x2='8.181980515339465' y1='7.474873734152916' y2='8.181980515339465' stroke='%23d4f1cb' stroke-width='0.2' stroke-linecap='round'/%3E%3Cline x1='5.0' x2='5.0' y1='8.5' y2='9.5' stroke='%23d4f1cb' stroke-width='0.2' stroke-linecap='round'/%3E%3Cline x1='2.525126265847084' x2='1.8180194846605362' y1='7.474873734152917' y2='8.181980515339465' stroke='%23d4f1cb' stroke-width='0.2' stroke-linecap='round'/%3E%3Cline x1='1.5' x2='0.5' y1='5.0' y2='5.000000000000001' stroke='%23d4f1cb' stroke-width='0.2' stroke-linecap='round'/%3E%3Cline x1='2.525126265847083' x2='1.8180194846605353' y1='2.525126265847084' y2='1.8180194846605362' stroke='%23d4f1cb' stroke-width='0.2' stroke-linecap='round'/%3E%3Cline x1='7.474873734152916' x2='8.181980515339465' y1='2.525126265847083' y2='1.8180194846605353' stroke='%23d4f1cb' stroke-width='0.2' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;

    animation: scale-up 0.5s;
  }
}

@keyframes scale-up {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60% {
    transform: translate(-50%, -50%) scale(1);
  }
  80% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.equation-link {
  display: flex;
  justify-content: space-between;

  height: 2rem;
  width: 3.5 * $border-radius;
  background: var(--equation-background);

  &.to-end {
    background: linear-gradient(
      var(--equation-background),
      var(--success-background)
    );
  }

  &::before,
  &::after {
    content: "";
    width: $border-radius;
    height: 100%;
    background-color: var(--clr-background);
  }

  &::after {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &::before {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.hint-btn {
  cursor: pointer;
  background: none;
  border: none;
  text-decoration: underline;
  color: var(--clr-link);
  margin-bottom: 1.5rem;

  &:hover {
    color: var(--clr-link-hover);
  }
}

.counter-btn {
  $bg: $clr-error;

  border: 3px solid var(--clr-background);
  border-radius: 50%;
  cursor: pointer;

  color: white;
  background-color: $bg;

  font-size: 0.8rem;
  width: 2rem;
  height: 2rem;

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);

  &:hover {
    background-color: lighten($bg, 8%);
    transition: all 0.3s ease;
  }

  &:active {
    background: lighten($bg, 25%);
  }
}

.hidden {
  display: none;
}

.test-equation-btn {
  $bg: #2f3a83;
  $disabled-bg: #d2d3da;
  $disabled-text: #9b9da8;

  border: none;
  border-radius: 0.5 * $border-radius;
  cursor: pointer;

  color: white;
  background-color: $bg;
  padding: 0.5em 1em;

  &:hover {
    background-color: lighten($bg, 8%);
    transition: all 0.3s ease;
  }

  &:active {
    background: lighten($bg, 25%);
  }

  &:disabled {
    &,
    &:hover,
    &:active {
      cursor: default;
      background-color: $disabled-bg;
      color: $disabled-text;
    }
  }
}

.equation-feedback {
  margin-bottom: 1.5em;
  font-size: 1rem;
  color: $clr-error;
}

.dialog {
  position: relative;
  border: none;
  border-radius: $border-radius;
  margin: auto;
  padding: 1rem 2rem;
  min-width: min(20rem, 80%);
  max-height: 90%;

  &::backdrop {
    backdrop-filter: blur(2px);
  }
}

ul.error-list {
  padding-left: 0;

  li {
    display: flex;
    flex-direction: column;

    &::before {
      display: none;
    }

    ~ li::before {
      position: static;
      display: block;
      content: "";
      width: 100%;
      height: 1px;
      background-color: hsl(0, 3%, 86%);
      margin-bottom: 1em;
    }
  }
}

.error-list-feedback {
  color: $clr-error;
}

.close-btn {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.dialog-title {
  line-height: 1;
  margin: 0 0 2rem;
  font-weight: bold;
}
