$border-radius: 0.5rem;
$clr-error: hsl(0, 68%, 56%);

:root {
  --equation-background: hsl(207, 71%, 93%);
}

#equation-history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

math-field {
  background-color: var(--clr-background);
  padding: 0.5em 1em;
  margin: 1em 0 0;

  &::part(virtual-keyboard-toggle) {
    margin-left: 1.5em;
  }
}

.equation-node {
  position: relative;
}

.equation-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1.5em;

  background-color: var(--equation-background);
  border-radius: $border-radius;

  transition: all 0.2s;
}

.equation-link {
  display: flex;
  justify-content: space-between;

  height: 2rem;
  width: 3.5 * $border-radius;
  background: var(--equation-background);

  &::before,
  &::after {
    content: "";
    width: $border-radius;
    height: 100%;
    background-color: var(--clr-background);
  }

  &::after {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &::before {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.counter-btn {
  $bg: $clr-error;

  border: 3px solid var(--clr-background);
  border-radius: 50%;
  cursor: pointer;

  color: white;
  background-color: $bg;

  font-size: 0.8rem;
  width: 2rem;
  height: 2rem;

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);

  &:hover {
    background-color: lighten($bg, 8%);
    transition: all 0.3s ease;
  }

  &:active {
    background: lighten($bg, 25%);
  }
}

.test-equation-btn {
  $bg: #2f3a83;
  $disabled-bg: #d2d3da;
  $disabled-text: #9b9da8;

  border: none;
  border-radius: 0.5 * $border-radius;
  cursor: pointer;

  color: white;
  background-color: $bg;
  padding: 0.5em 1em;

  &:hover {
    background-color: lighten($bg, 8%);
    transition: all 0.3s ease;
  }

  &:active {
    background: lighten($bg, 25%);
  }

  &:disabled {
    &,
    &:hover,
    &:active {
      cursor: default;
      background-color: $disabled-bg;
      color: $disabled-text;
    }
  }
}

.equation-feedback {
  margin-bottom: 1.5em;
  font-size: 1rem;
  color: $clr-error;
}

.error-dialog {
  position: relative;
  border: none;
  border-radius: $border-radius;
  margin: auto;
  padding: 1rem 2rem;
  max-height: 90%;

  &::backdrop {
    backdrop-filter: blur(2px);
  }
}

ul.error-list {
  padding-left: 0;

  li {
    display: flex;
    flex-direction: column;

    &::before {
      display: none;
    }

    ~ li::before {
      position: static;
      display: block;
      content: "";
      width: 100%;
      height: 1px;
      background-color: hsl(0, 3%, 86%);
      margin-bottom: 1em;
    }
  }
}

.error-list-feedback {
  color: $clr-error;
}

.close-btn {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.dialog-title {
  line-height: 1;
  margin: 0 0 2rem;
  font-weight: bold;
}
